In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [6]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

In [44]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

#variable for newest date in the data
most_recent_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
most_recent_date= most_recent_date[0]
#print(most_recent_date)

# Calculate the date 1 year ago from the last data point in the database (create variable)
year_before = dt.datetime.strptime(most_recent_date, "%Y-%m-%d") - dt.timedelta(days=365)
#print(year_before)

# Perform a query to retrieve the data and precipitation scores
precip_query = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= year_before).all()
#print(precip_query)

# Save the query results as a Pandas DataFrame and set the index to the date column
precip_df = pd.DataFrame(precip_query,columns=['date', 'precipitation'])
#precip_df
precip_df.set_index('date', inplace=True)
#precip_df

# Sort the dataframe by date
precip_df=precip_df.sort_values(by='date', ascending=True)
precip_df
# Use Pandas Plotting with Matplotlib to plot the data

            precipitation
date
2016-08-24           0.08
2016-08-24            NaN
2016-08-24           2.15
2016-08-24           2.28
2016-08-24           2.15
2016-08-24           1.45
2016-08-24           1.22
2016-08-25           0.08
2016-08-25           0.00
2016-08-25           0.06
2016-08-25           0.00
2016-08-25           0.21
2016-08-25           0.11
2016-08-25           0.08
2016-08-26           0.02
2016-08-26           0.03
2016-08-26           0.01
2016-08-26           0.00
2016-08-26           0.04
2016-08-26           0.00
2016-08-27           0.12
2016-08-27           0.00
2016-08-27           0.18
2016-08-27            NaN
2016-08-27           0.00
2016-08-27           0.02
2016-08-28           0.14
2016-08-28           0.60
2016-08-28           0.14
2016-08-28           0.14
...                   ...
2017-08-16           0.42
2017-08-16           0.00
2017-08-16           0.07
2017-08-16           0.12
2017-08-17           0.13
2017-08-17           0.00
2017-08-17           0.05
2017-08-17           0.01
2017-08-18           0.00
2017-08-18            NaN
2017-08-18           0.06
2017-08-18           0.00
2017-08-19           0.09
2017-08-19            NaN
2017-08-19           0.00
2017-08-19           0.00
2017-08-20            NaN
2017-08-20           0.00
2017-08-20           0.01
2017-08-21           0.56
2017-08-21           0.02
2017-08-21           0.00
2017-08-21            NaN
2017-08-22           0.50
2017-08-22           0.00
2017-08-22           0.00
2017-08-23           0.08
2017-08-23           0.00
2017-08-23           0.00
2017-08-23           0.45

[2223 rows x 1 columns]

![precipitation](Images/precipitation.png)

In [11]:
# Use Pandas to calcualte the summary statistics for the precipitation data

![describe](Images/describe.png)

In [12]:
# Design a query to show how many stations are available in this dataset?

In [13]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [14]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?

In [15]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

![precipitation](Images/station-histogram.png)

In [16]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

[(62.0, 69.57142857142857, 74.0)]

In [17]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [18]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [19]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

## Optional Challenge Assignment

In [20]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

[(62.0, 69.15384615384616, 77.0)]

In [21]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [22]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [23]:
# Plot the daily normals as an area plot with `stacked=False`